header {
    background-image: url("bg.jpg");
    position: relative;
    z-index: -1;
}

.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
video#bgvid {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.video-bg__video {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(/assets/public/img/header_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
}

.overlay {
    position: absolute;
    background-color: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.overlay h2 {
    text-align: center;
    color: #fff;
}

